extends ../node_modules/jade-bootstrap/_bootstrap.pug
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
block body

    +navbar-fixed("Rental car","navbar","inverse")
        +nav_item("/","active") Home
        +nav_item("#") Contact
    .container
        block content

        hr
        footer
                p © Janek Kurzydło 2018
