extends ../node_modules/jade-bootstrap/_bootstrap.pug
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
block body

    +navbar-fixed("Rental car","navbar","inverse")
        +nav_item("/","active") Home
        if (user && user.admin)
            +nav_item("/all_reservations") All Reservations
        if (user)
            +nav_item("/my_reservations") Reservations
        +nav_item.nav.navbar-nav.navbar-right
        if (!user)
            li
                a(href='/login') Login
            li
                a(href='/register') Register
        if (user)
            li
                a Welcome #{user.username}
            li
                a(href='/logout') Logout
    .container
        block content

        hr
        footer
            p © Janek Kurzydło 2018
