extends layout
append styles
    .jumbotron
        .container
            h2 Great job!! You have booked your car.
            p
                | This is your reservation number
                strong  #{reservation._id}
